# tall flowers

lilac.json
peony.json
rose_bush.json
sunflower.json


# beds

black_bed.json
blue_bed.json
brown_bed.json
cyan_bed.json
gray_bed.json
green_bed.json
light_blue_bed.json
light_gray_bed.json
lime_bed.json
magenta_bed.json
orange_bed.json
pink_bed.json
purple_bed.json
red_bed.json
white_bed.json
yellow_bed.json


# doors

acacia_door.json
bamboo_door.json
birch_door.json
crimson_door.json
dark_oak_door.json
jungle_door.json
mangrove_door.json
oak_door.json
spruce_door.json
warped_door.json
