# blocks

creeper_head.json
dragon_head.json
ender_chest.json
infested_chiseled_stone_bricks.json
infested_cobblestone.json
infested_cracked_stone_bricks.json
infested_mossy_stone_bricks.json
infested_stone.json
infested_stone_bricks.json
petrified_oak_slab.json
player_head.json
skeleton_skull.json
wither_skeleton_skull.json
zombie_head.json


# chests

bastion_bridge.json
bastion_hoglin_stable.json
bastion_other.json
bastion_treasure.json
end_city_treasure.json
igloo_chest.json
jungle_temple.json
jungle_temple_dispenser.json
pillager_outpost.json
spawn_bonus_chest.json
stronghold_corridor.json
stronghold_crossing.json
stronghold_library.json
woodland_mansion.json

# village chests

village_armorer.json
village_butcher.json
village_temple.json
village_toolsmith.json
village_weaponsmith.json


# entities

endermite.json
mooshroom.json
ocelot.json
panda.json
piglin_brute.json
shulker.json
silverfish.json
skeleton_horse.json
warden.json
zoglin.json
