# Showstoppers (things that won't drop anything, either because they are not implemented in game currently or because they are programmatically prevented from dropping things, and therefore would prevent blaze rod acquisition if assigned to drop the blaze rod table):

cake.json
dragon_egg.json
ender_dragon.json
frogspawn.json
giant.json
illusioner.json
player.json
tadpole.json
wither.json
zombie_horse.json

black_candle_cake.json
blue_candle_cake.json
brown_candle_cake.json
candle_cake.json
cyan_candle_cake.json
gray_candle_cake.json
green_candle_cake.json
light_blue_candle_cake.json
light_gray_candle_cake.json
lime_candle_cake.json
magenta_candle_cake.json
orange_candle_cake.json
pink_candle_cake.json
purple_candle_cake.json
red_candle_cake.json
white_candle_cake.json
yellow_candle_cake.json


# Not yet implemented (placeholder tables that were added to the game for a future release for things that are not currently implemented in the game [these loot tables also have no drop pools])

acacia_hanging_sign.json
allay.json
bamboo_block.json
bamboo_button.json
bamboo_door.json
bamboo_fence.json
bamboo_fence_gate.json
bamboo_hanging_sign.json
bamboo_mosaic.json
bamboo_mosaic_slab.json
bamboo_mosaic_stairs.json
bamboo_planks.json
bamboo_pressure_plate.json
bamboo_sign.json
bamboo_slab.json
bamboo_stairs.json
bamboo_trapdoor.json
birch_hanging_sign.json
camel.json
chiseled_bookshelf.json
crimson_hanging_sign.json
dark_oak_hanging_sign.json
jungle_hanging_sign.json
oak_hanging_sign.json
reinforced_deepslate.json
spruce_hanging_sign.json
stripped_bamboo_block.json
warped_hanging_sign.json


# Killjoys (things we also want to exclude because the game will be more fun if they're not included, either as droppers or as drops) (this list may be altered as desired):

